<ion-header no-border>
    <ion-toolbar>
        <ng-container *ngIf="verImagen; else imgBtnTemplate">
            <ion-buttons slot="start">
                <ion-button (click)="verImagen = false">
                    <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-container>
        <ng-template #imgBtnTemplate>
            <ion-buttons slot="end">
                <ion-button (click)="regresar()">
                    <ion-icon color="primary" slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title color="primary">Resumen {{tipo}}</ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="tipo === 'ventas'; else elseTemplate">
        <ion-list>
            <ion-item *ngFor="let item of ventas">
                <ion-label class="ion-text-wrap">
                    <h2 style="color: var(--ion-color-primary);">{{item.Datos.cliente}}</h2>
                    <h3>Hora: {{item.Datos.hora | date: 'shortTime'}}</h3>
                    <p>Venta: {{item.Datos.total | currency:'CAD':'symbol-narrow':'1.0-2'}}</p>
                    <p *ngFor="let prod of item.Productos | keyvalue">
                        {{prod.key}}: {{prod.value}}
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-template #elseTemplate>
        <ng-container *ngIf="verImagen; else imgTemplate">
            <ion-img [src]="image" style="width: 100vw;"></ion-img>
        </ng-container>
        <ng-template #imgTemplate>
            <ion-list>
                <ion-item *ngFor="let item of compras">
                    <ion-thumbnail (click)="mostrarImg(item.url)">
                        <img [src]="item.url || '../../../assets/img/no_img.jpg'" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap ion-padding">
                        <h2 style="color: var(--ion-color-primary);">{{item.nombre}}</h2>
                        <h3>Total: {{item.total | currency:'CAD':'symbol-narrow':'1.0-2'}}</h3>
                        <p>Proveedor: {{item.proveedor}}</p>
                        <p>{{item.descripcion}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ng-template>

    </ng-template>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>