.profile {
    margin-top: 0vh;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    --background: var(--ion-color-primary);
    background: var(--ion-color-primary);
    border: 1px solid red;
}

.cuadro-opciones {
    width: 80vw;
    height: 40vh;
    margin-left: 10vw;
    margin-top: -2rem;
    border-radius: 10px;
}