<ion-header no-border *ngIf="!pageMap">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Resumen fin de viaje</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="height: 100%; width: 100%">
                <ion-item class="profile" lines="none">
                    <ion-avatar slot="start">
                        <img [src]="colaborador.foto" />
                    </ion-avatar>
                    <ion-label color="light">
                        <h1>{{colaborador.nombre}}</h1>
                        <app-stars *ngIf="promedio" [calificacion]="promedio"></app-stars>
                    </ion-label>
                </ion-item>
                <div class="relleno"></div>
                <div class="cuadro-opciones">
                    <ion-card (click)="presentMapa('pedidos')">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-start">
                                <ion-col size="2.5" style="border-right: 1px solid var(--ion-color-medium);">
                                    <ion-button fill="clear">
                                        <ion-icon slot="icon-only" name="alarm"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="9.5">
                                    <ion-item lines="none" detail>
                                        <ion-label color="medium">Pedidos</ion-label>
                                        <ion-badge *ngIf="pedidos" color="danger">{{pedidos}}</ion-badge>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <ion-card (click)="presentMapa('morosos')">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-start">
                                <ion-col size="2.5" style="border-right: 1px solid var(--ion-color-medium);">
                                    <ion-button fill="clear">
                                        <ion-icon slot="icon-only" name="contacts"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="9.5">
                                    <ion-item lines="none" detail>
                                        <ion-label color="medium">Clientes registrados</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <ion-card (click)="setClienteAnonimo()" [disabled]="!ubicacionReady">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-start">
                                <ion-col size="2.5" style="border-right: 1px solid var(--ion-color-medium);">
                                    <ion-button fill="clear">
                                        <ion-icon slot="icon-only" name="trending-up"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="9.5">
                                    <ion-item lines="none" detail>
                                        <ion-label color="medium">Venta anónima</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <ion-card (click)="scanCode()">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-start">
                                <ion-col size="2.5" style="border-right: 1px solid var(--ion-color-medium);">
                                    <ion-button fill="clear">
                                        <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="9.5">
                                    <ion-item lines="none" detail>
                                        <ion-label color="medium">Escanear código de cliente</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <ion-card (click)="presentGasto()">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-start">
                                <ion-col size="2.5" style="border-right: 1px solid var(--ion-color-medium);">
                                    <ion-button fill="clear">
                                        <ion-icon slot="icon-only" name="trending-down"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="9.5">
                                    <ion-item lines="none" detail>
                                        <ion-label color="medium">Registrar gasto</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <ion-card (click)="presentTelPrompt()">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-start">
                                <ion-col size="2.5" style="border-right: 1px solid var(--ion-color-medium);">
                                    <ion-button fill="clear">
                                        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="9.5">
                                    <ion-item lines="none" detail>
                                        <ion-label color="medium">Compartir app de cliente</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <ion-card (click)="finViaje()">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-start">
                                <ion-col size="2.5" style="border-right: 1px solid var(--ion-color-medium);">
                                    <ion-button fill="clear">
                                        <ion-icon slot="icon-only" name="exit"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="9.5">
                                    <ion-item lines="none" detail>
                                        <ion-label color="medium">Terminar viaje</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </div>
                <!-- <ion-list>
                    <div *ngIf="clientes && clientes.length> 0">
                        <ion-item lines="none" detail>
                            <ion-label>Pedidos</ion-label>
                            <ion-button color="primary" fill="clear" slot="end" (click)="presentMapa('pedido')">
                                Ver todos
                            </ion-button>
                        </ion-item>
                        <ion-card *ngFor="let cliente of clientes">
                            <ion-card-subtitle style="text-align: right; margin-right: 1rem" [color]="cliente.minutos > 15 ? 'primary' : cliente.minutos > 5 ? 'secondary' : 'danger'">
                                {{cliente.minutos}} : {{cliente.segundos}}
                            </ion-card-subtitle>
                            <ion-card-title style="margin-left: 1.5rem; text-align: left">{{cliente.pedido.usuario}}</ion-card-title>
                            <ion-card-content style="text-align: left">
                                {{cliente.pedido.direccion.direccion}}
                                <ion-item lines="none" style="--background: transparent">
                                    <ion-button slot="end" (click)="presentMapa('pedido', cliente)">
                                        Ver ubicación
                                        <ion-icon color="light" slot="end" name="pin"></ion-icon>
                                    </ion-button>
                                    <ion-button slot="end" (click)="presentChat(cliente)">
                                        CHAT
                                        <ion-icon color="light" slot="end" name="paper-plane"></ion-icon>
                                        <ion-badge slot="end" style="margin-left: 0.5rem" *ngIf="cliente.msgPend" color="danger">1</ion-badge>
                                    </ion-button>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </div>

                </ion-list> -->
            </div>
        </ion-slide>
        <ion-slide>
            <ng-container *ngIf="resumenReady; else resumenTemplate">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="4">
                            <div style="width: 100%; height: 100%; border-right: 1px solid #EAECED">
                                <ion-item lines="none" (click)="resumen.venta > 0 ? presentResumen('ventas') : presentToast('No hay ventas que mostrar')">
                                    <ion-label style="text-align: center;">
                                        <p style="color: var(--ion-color-medium);">Venta</p>
                                        <h2 style="color: var(--ion-color-primary);">{{resumen.venta | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                        <p *ngIf="resumen.venta > 0">ver detalles</p>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-item lines="none">
                                <ion-label>
                                    <div style="text-align: center; width: 100%; height: 100%">
                                        <p style="color: var(--ion-color-medium);">Balance</p>
                                        <h1>{{balance | currency:'CAD':'symbol-narrow':'1.0-2'}}</h1>
                                        <p *ngIf="balance > 0">ver detalles</p>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4">
                            <div style="text-align: center; width: 100%; height: 100%; border-left: 1px solid #EAECED">
                                <ion-item lines="none" (click)="resumen.gasto > 0 ? presentResumen('gastos') : presentToast('No hay gastos que mostrar')">
                                    <ion-label style="text-align: center;">
                                        <p style="color: var(--ion-color-medium);">Gasto</p>
                                        <h2 style="color: var(--ion-color-warning);">{{resumen.gasto | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                        <p *ngIf="resumen.gasto > 0">ver detalles</p>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-list-header>
                                    <ion-label color="primary">Carga</ion-label>
                                </ion-list-header>
                                <ion-item *ngFor="let prod of productos">
                                    <ion-label class="ion-text-wrap">
                                        <h2>{{prod.nombre}}</h2>
                                        <p>Inicial: {{prod.inicial}}</p>
                                        <p>Final: {{prod.actual}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-container>
            <ng-template #resumenTemplate>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="4">
                            <div style="width: 100%; height: 100%; border-right: 1px solid #EAECED">
                                <ion-item lines="none">
                                    <ion-label style="text-align: center;">
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                        <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-item lines="none">
                                <ion-label>
                                    <div style="text-align: center; width: 100%; height: 100%">
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                        <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4">
                            <div style="text-align: center; width: 100%; height: 100%; border-left: 1px solid #EAECED">
                                <ion-item lines="none">
                                    <ion-label style="text-align: center;">
                                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                        <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-list-header>
                                    <ion-label color="primary">
                                        <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                                    </ion-label>
                                </ion-list-header>
                                <ion-item *ngFor="let prod of [1,2,3,4,5]">
                                    <ion-label class="ion-text-wrap">
                                        <h2>
                                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                        </h2>
                                        <p>
                                            <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
                                        </p>
                                        <p>
                                            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                                        </p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-template>


        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer no-border *ngIf="!pageMap">
    <ion-toolbar>
        <ion-item>
            <ion-label>Contraseña de supervisor
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input (keyup.enter)="$event.target.blur();" clearInput="true" type="password" required [value]="pass" [(ngModel)]="pass" name="passFin"></ion-input>
        </ion-item>
        <ion-button [disabled]="pass.length === 0 ||  validando" expand="block" shape="round" (click)="validaPass()">
            Finalizar viaje
            <ion-spinner style="margin-left: 0.5rem" *ngIf="validando" name="dots"></ion-spinner>
        </ion-button>
    </ion-toolbar>
</ion-footer>