.foto-container {
    width: 100vw;
    height: 30vh;
    top: 0;
    background: var(--ion-color-primary);
    text-align: center;
}

.profile {
    position: absolute;
    --background: transparent;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(50%, -50%);
}