<ion-header no-border *ngIf="!pageMap">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Resumen fin de viaje</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="height: 100%; width: 100%">
                <div style="position: relative">
                    <agm-map *ngIf="ubicacionReady" [latitude]="ubicacion.lat" [longitude]="ubicacion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoom]="zoom">
                        <agm-marker [iconUrl]='{"url": icon,"scaledSize": {"height": 30, "width": 30}}' [latitude]="ubicacion.lat" [longitude]="ubicacion.lng"></agm-marker>
                        <agm-marker (markerClick)="presentProductos(cliente, -1)" *ngIf="clienteReady" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="cliente.lat" [longitude]="cliente.lng" [animation]="'DROP'" (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
                        <agm-marker *ngFor="let mark of clientes; let i = index" (markerClick)="presentProductos(mark, i)" [iconUrl]='{"url": mark.pin,"scaledSize": {"height": 80, "width": 60}}' [latitude]="mark.pedido.direccion.lat" [longitude]="mark.pedido.direccion.lng" [animation]="'DROP'"></agm-marker>
                    </agm-map>
                    <div class="head">
                        <ion-grid fixed class="ion-no-padding" style="width: 100%">
                            <ion-row>
                                <ion-col size="12">
                                    <div class="caja-input">
                                        <ion-input id="txtHome" [(ngModel)]="dir" name="direccion" type="text" placeholder="Dirección de venta"></ion-input>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <ng-container *ngIf="resumenReady; else resumenTemplate">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12">
                            <ion-card>
                                <ion-card-header color="primary">
                                    <ion-card-subtitle>Balance</ion-card-subtitle>
                                    <ion-card-title>{{balance | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <ion-card>
                                <ion-card-header color="success" (click)="resumen.venta > 0 ? presentResumen('ventas') : presentToast('No hay ventas que mostrar')">
                                    <ion-card-subtitle>Venta</ion-card-subtitle>
                                    <ion-card-title>{{resumen.venta | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6">
                            <ion-card>
                                <ion-card-header color="danger" (click)="resumen.gasto > 0 ? presentResumen('gastos') : presentToast('No hay gastos que mostrar')">
                                    <ion-card-subtitle>Gasto</ion-card-subtitle>
                                    <ion-card-title>{{resumen.gasto | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-list-header>
                                    <ion-label color="primary">Carga</ion-label>
                                </ion-list-header>
                                <ion-item *ngFor="let prod of productos">
                                    <ion-label class="ion-text-wrap">
                                        <h2>{{prod.nombre}}</h2>
                                        <p>Inicial: {{prod.inicial}}</p>
                                        <p>Final: {{prod.actual}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-container>
            <ng-template #resumenTemplate>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12">
                            <ion-card>
                                <ion-card-header color="primary">
                                    <ion-card-subtitle>
                                        <ion-skeleton-text animated style="width: 400%"></ion-skeleton-text>
                                    </ion-card-subtitle>
                                    <ion-card-title>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <ion-card>
                                <ion-card-header color="success">
                                    <ion-card-subtitle>
                                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                                    </ion-card-subtitle>
                                    <ion-card-title>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6">
                            <ion-card>
                                <ion-card-header color="danger">
                                    <ion-card-subtitle>
                                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                                    </ion-card-subtitle>
                                    <ion-card-title>
                                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                    </ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-list-header>
                                    <ion-label color="primary">
                                        <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                                    </ion-label>
                                </ion-list-header>
                                <ion-item *ngFor="let prod of [1,2,3,4,5]">
                                    <ion-label class="ion-text-wrap">
                                        <h2>
                                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                        </h2>
                                        <p>
                                            <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
                                        </p>
                                        <p>
                                            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                                        </p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-template>


        </ion-slide>
    </ion-slides>

    <ion-fab *ngIf="pageMap" horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="dark" (click)="presentGasto()">
                <ion-icon name="trending-down"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="finViaje()">
                <ion-icon name="exit"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button color="success" (click)="scanCode()">
                <ion-icon name="qr-scanner"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="clientes" color="primary" (click)="presentPedidos()">
                <ion-icon name="paper-plane"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

<ion-footer no-border *ngIf="!pageMap">
    <ion-toolbar>
        <ion-item>
            <ion-label>Contraseña de supervisor
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input clearInput="true" type="password" required [value]="pass" [(ngModel)]="pass" name="passFin"></ion-input>
        </ion-item>
        <ion-button [disabled]="pass.length === 0 ||  validando" expand="block" shape="round" (click)="validaPass()">
            Finalizar viaje
            <ion-spinner style="margin-left: 0.5rem" *ngIf="validando" name="dots"></ion-spinner>
        </ion-button>
    </ion-toolbar>
</ion-footer>