<ion-header no-border *ngIf="!pageMap">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Resumen fin de viaje</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="height: 100%; width: 100%">
                <div style="position: relative">
                    <agm-map *ngIf="ubicacionReady" [fitBounds]="true" [latitude]="ubicacion.lat" [longitude]="ubicacion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoom]="zoom" [zoomControl]="false">
                        <agm-marker [agmFitBounds]="true" [iconUrl]='{"url": icon,"scaledSize": {"height": 30, "width": 30}}' [latitude]="ubicacion.lat" [longitude]="ubicacion.lng"></agm-marker>
                        <agm-marker [agmFitBounds]="true" (markerClick)="presentProductos(cliente, 'busqueda', -1)" *ngIf="clienteReady" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="cliente.lat" [longitude]="cliente.lng" [animation]="'DROP'"
                            (dragEnd)="guardaLoc($event)" [markerDraggable]="true"></agm-marker>
                        <agm-marker [agmFitBounds]="true" *ngFor="let mark of clientes; let i = index" (markerClick)="presentProductos(mark, 'pedido', i)" [iconUrl]='{"url": mark.pin,"scaledSize": {"height": 80, "width": 60}}' [latitude]="mark.pedido.direccion.lat" [longitude]="mark.pedido.direccion.lng"
                            [animation]="'DROP'"></agm-marker>
                        <agm-marker [agmFitBounds]="true" *ngFor="let c of clientesDesatendidos; let i = index" (markerClick)="presentProductos(c, 'morosos', i)" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="c.lat" [longitude]="c.lng" [animation]="'DROP'"></agm-marker>
                    </agm-map>
                    <div class="head">
                        <ion-grid fixed class="ion-no-padding" style="width: 100%">
                            <ion-row>
                                <ion-col size="12">
                                    <div class="caja-input">
                                        <ion-input id="txtHome" [(ngModel)]="dir" name="direccion" type="text" placeholder="Dirección de venta"></ion-input>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <ng-container *ngIf="resumenReady; else resumenTemplate">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="4">
                            <div style="width: 100%; height: 100%; border-right: 1px solid #EAECED">
                                <ion-item lines="none" (click)="resumen.venta > 0 ? presentResumen('ventas') : presentToast('No hay ventas que mostrar')">
                                    <ion-label style="text-align: center;">
                                        <p style="color: var(--ion-color-medium);">Venta</p>
                                        <h2 style="color: var(--ion-color-primary);">{{resumen.venta | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                        <p *ngIf="resumen.venta > 0">ver detalles</p>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-item lines="none">
                                <ion-label>
                                    <div style="text-align: center; width: 100%; height: 100%">
                                        <p style="color: var(--ion-color-medium);">Balance</p>
                                        <h1>{{balance | currency:'CAD':'symbol-narrow':'1.0-2'}}</h1>
                                        <p *ngIf="balance > 0">ver detalles</p>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4">
                            <div style="text-align: center; width: 100%; height: 100%; border-left: 1px solid #EAECED">
                                <ion-item lines="none" (click)="resumen.gasto > 0 ? presentResumen('gastos') : presentToast('No hay gastos que mostrar')">
                                    <ion-label style="text-align: center;">
                                        <p style="color: var(--ion-color-medium);">Gasto</p>
                                        <h2 style="color: var(--ion-color-warning);">{{resumen.gasto | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                        <p *ngIf="resumen.gasto > 0">ver detalles</p>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-list-header>
                                    <ion-label color="primary">Carga</ion-label>
                                </ion-list-header>
                                <ion-item *ngFor="let prod of productos">
                                    <ion-label class="ion-text-wrap">
                                        <h2>{{prod.nombre}}</h2>
                                        <p>Inicial: {{prod.inicial}}</p>
                                        <p>Final: {{prod.actual}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-container>
            <ng-template #resumenTemplate>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="4">
                            <div style="width: 100%; height: 100%; border-right: 1px solid #EAECED">
                                <ion-item lines="none" (click)="resumen.venta > 0 ? presentResumen('ventas') : presentToast('No hay ventas que mostrar')">
                                    <ion-label style="text-align: center;">
                                        <p style="color: var(--ion-color-medium);">Venta</p>
                                        <h2 style="color: var(--ion-color-primary);">{{resumen.venta | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                        <p *ngIf="resumen.venta > 0">ver detalles</p>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-item lines="none">
                                <ion-label>
                                    <div style="text-align: center; width: 100%; height: 100%">
                                        <p style="color: var(--ion-color-medium);">Balance</p>
                                        <h1>{{balance | currency:'CAD':'symbol-narrow':'1.0-2'}}</h1>
                                        <p *ngIf="balance > 0">ver detalles</p>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="4">
                            <div style="text-align: center; width: 100%; height: 100%; border-left: 1px solid #EAECED">
                                <ion-item lines="none" (click)="resumen.gasto > 0 ? presentResumen('gastos') : presentToast('No hay gastos que mostrar')">
                                    <ion-label style="text-align: center;">
                                        <p style="color: var(--ion-color-medium);">Gasto</p>
                                        <h2 style="color: var(--ion-color-warning);">{{resumen.gasto | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                        <p *ngIf="resumen.gasto > 0">ver detalles</p>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-list-header>
                                    <ion-label color="primary">
                                        <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                                    </ion-label>
                                </ion-list-header>
                                <ion-item *ngFor="let prod of [1,2,3,4,5]">
                                    <ion-label class="ion-text-wrap">
                                        <h2>
                                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                        </h2>
                                        <p>
                                            <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
                                        </p>
                                        <p>
                                            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                                        </p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-template>


        </ion-slide>
    </ion-slides>

    <ion-fab *ngIf="pageMap" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="dark">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="success" (click)="presentTelPrompt()">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="presentGasto()">
                <ion-icon name="trending-down"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" (click)="finViaje()">
                <ion-icon name="exit"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button color="secondary" (click)="scanCode()">
                <ion-icon name="qr-scanner"></ion-icon>
            </ion-fab-button>
            <ng-container *ngIf="clientesReady; else clientesTemplate">
                <ion-fab-button color="tertiary" (click)="limpiaClientesDesatendidos()">
                    <ion-icon name="close"></ion-icon>
                </ion-fab-button>
            </ng-container>
            <ng-template #clientesTemplate>
                <ion-fab-button color="tertiary" (click)="getClientesDesatendidos()">
                    <ion-icon name="contacts"></ion-icon>
                </ion-fab-button>
            </ng-template>
        </ion-fab-list>
    </ion-fab>
</ion-content>

<ion-footer no-border *ngIf="!pageMap">
    <ion-toolbar>
        <ion-item>
            <ion-label>Contraseña de supervisor
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input clearInput="true" type="password" required [value]="pass" [(ngModel)]="pass" name="passFin"></ion-input>
        </ion-item>
        <ion-button [disabled]="pass.length === 0 ||  validando" expand="block" shape="round" (click)="validaPass()">
            Finalizar viaje
            <ion-spinner style="margin-left: 0.5rem" *ngIf="validando" name="dots"></ion-spinner>
        </ion-button>
    </ion-toolbar>
</ion-footer>