<ion-header color="primary">
    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="lista">
            <ion-label>Lista</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mapa">
            <ion-label>Mapa</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <div [ngSwitch]="pagina">
        <div *ngSwitchCase="'lista'">
            output
        </div>
        <div *ngSwitchCase="'mapa'">
            <div style="position: relative">
                <div class="arrow">
                    <ion-button (click)="regresar()" fill="clear">
                        <ion-icon slot="start" name="arrow-back"></ion-icon>
                    </ion-button>
                </div>
                <agm-map *ngIf="ubicacionReady" (mapReady)="mapaListo($event)" [latitude]="ubicacion.lat" [longitude]="ubicacion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoomControl]="false" [fitBounds]="true">
                    <agm-marker [agmFitBounds]="true" [iconUrl]='{"url": icon,"scaledSize": {"height": 30, "width": 30}}' [latitude]="ubicacion.lat" [longitude]="ubicacion.lng"></agm-marker>
                    <div [ngSwitch]="origen">
                        <div *ngSwitchCase="'pedido'">
                            <agm-marker [agmFitBounds]="true" *ngFor="let mark of clientes; let i = index" (markerClick)="presentProductos(mark)" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="mark.pedido.direccion.lat" [longitude]="mark.pedido.direccion.lng"
                                [animation]="'DROP'"></agm-marker>
                        </div>
                        <div *ngSwitchCase="'pedido-solo'">
                            <agm-marker [agmFitBounds]="true" (markerClick)="presentProductos(cliente)" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="cliente.pedido.direccion.lat" [longitude]="cliente.pedido.direccion.lng" [animation]="'DROP'"></agm-marker>
                        </div>
                        <div *ngSwitchCase="'morosos'">
                            <agm-marker [agmFitBounds]="true" *ngFor="let c of clientesDesatendidos; let i = index" (markerClick)="presentProductos(c)" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="c.lat" [longitude]="c.lng" [animation]="'DROP'"></agm-marker>
                        </div>
                    </div>
                </agm-map>
            </div>
        </div>
    </div>
</ion-content>