<ion-content>
    <div style="position: relative">
        <div class="arrow">
            <ion-button (click)="regresar()" fill="clear">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </div>
        <agm-map *ngIf="ubicacionReady" (mapReady)="mapaListo($event)" [latitude]="ubicacion.lat" [longitude]="ubicacion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoomControl]="false">
            <agm-marker [iconUrl]='{"url": icon,"scaledSize": {"height": 30, "width": 30}}' [latitude]="ubicacion.lat" [longitude]="ubicacion.lng"></agm-marker>
            <div [ngSwitch]="origen">
                <div *ngSwitchCase="'pedido'">
                    <agm-marker *ngFor="let mark of clientes; let i = index" (markerClick)="presentProductos(mark, i)" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="mark.pedido.direccion.lat" [longitude]="mark.pedido.direccion.lng" [animation]="'DROP'"></agm-marker>
                </div>
                <div *ngSwitchCase="'pedido-solo'">
                    <agm-marker (markerClick)="presentProductos(cliente, 0)" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="cliente.pedido.direccion.lat" [longitude]="cliente.pedido.direccion.lng" [animation]="'DROP'"></agm-marker>
                </div>
                <div *ngSwitchCase="'morosos'">
                    <agm-marker *ngFor="let c of clientesDesatendidos; let i = index" (markerClick)="presentProductos(c, i)" [iconUrl]='{"url": casa,"scaledSize": {"height": 80, "width": 60}}' [latitude]="c.lat" [longitude]="c.lng" [animation]="'DROP'"></agm-marker>
                </div>
            </div>
        </agm-map>

        <div class="head" *ngIf="origen === 'busqueda'">
            <ion-grid fixed class="ion-no-padding" style="width: 100%">
                <ion-row>
                    <ion-col size="12">
                        <div class="caja-input">
                            <ion-input id="txtHome" [(ngModel)]="dir" name="direccion" type="text" placeholder="Dirección de venta"></ion-input>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>